<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Add a new comment</title>
</head>
<body class="container pt-3 border mt-5">c  <form action="/comments" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User name</label>
            <input name="user" class="form-control" id="exampleInputEmail1" aria-describedby="User Name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Comment</label>
            <input name="text" type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
</html>