<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>Show</title>
  </head>
  <body class="container">
    <h1>Viewing the comment with id : <%= c.id %></h1>
    <h3><%= c.text %> - <b><%= c.user %> </b></h3>
    <a class="btn btn-primary mt-3" href="/comments/<%= c.id %>/edit">Edit</a>
  </body>
</html>
